.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.4rem;
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.nav-link:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.menu button {
    text-decoration: none;
    color: var(--text-color);
}